<section class="basket-page">
  <div class="container">
    <div class="basket-page_wrapper">
      <div class="basket-page_left">
        <div class="basket-page_nav_row">
          <nav class="basket-page_nav">
            <a class="basket-page_nav_link active" href="./basket.html">Корзина товаров</a>
            <a class="basket-page_nav_link" href="./favorite.html">Избранные товары</a>
          </nav>
          <div class="basket-page_reset">Очистить корзину</div>
        </div>
        <ul class="basket-page_list">
          <li class="basket-page_item">
            <div class="basket-page_img_wrapper">
              <a class="basket-page_img_link" href="./card-product.html">
                <img class="basket-page_img" src="./img/product-2.jpg">
              </a>
            </div>
            <div class="basket-page_info">
              <a class="basket-page_info_caption" href="./card-product.html">Цветочный горшок вазон №5 (шамот), D41xH40см, 12л</a>
              <div class="basket-page_info_item">
                <div class="basket-page_info_name">Артикул:</div>
                <div class="basket-page_info_value">TC042432X22-1206</div>
              </div>
              <div class="basket-page_info_item">
                <div class="basket-page_info_name">Вес:</div>
                <div class="basket-page_info_value">5,75 кг</div>
              </div>
            </div>
            <div class="basket-page_count">
              <div class="basket-page_minus">-</div>
              <div class="basket-page_amount">1</div>
              <div class="basket-page_plus">+</div>
            </div>
            <div class="basket-page_price_box">
              <div class="basket-page_price old">2 415 ₽</div>
              <div class="basket-page_price new">1 430 ₽</div>
            </div>
            <div class="basket-page_close"></div>
            <div class="basket-page_favorite"></div>
          </li>
          <li class="basket-page_item">
            <div class="basket-page_img_wrapper">
              <a class="basket-page_img_link" href="./card-product.html">
                <img class="basket-page_img" src="./img/product-2.jpg">
              </a>
            </div>
            <div class="basket-page_info">
              <a class="basket-page_info_caption" href="./card-product.html">Цветочный горшок вазон №5 (шамот), D41xH40см, 12л</a>
              <div class="basket-page_info_item">
                <div class="basket-page_info_name">Артикул:</div>
                <div class="basket-page_info_value">TC042432X22-1206</div>
              </div>
              <div class="basket-page_info_item">
                <div class="basket-page_info_name">Вес:</div>
                <div class="basket-page_info_value">5,75 кг</div>
              </div>
            </div>
            <div class="basket-page_count">
              <div class="basket-page_minus">-</div>
              <div class="basket-page_amount">1</div>
              <div class="basket-page_plus">+</div>
            </div>
            <div class="basket-page_price_box">
              <div class="basket-page_price old">2 415 ₽</div>
              <div class="basket-page_price new">1 430 ₽</div>
            </div>
            <div class="basket-page_close"></div>
            <div class="basket-page_favorite"></div>
          </li>
          <li class="basket-page_item">
            <div class="basket-page_img_wrapper">
              <a class="basket-page_img_link" href="./card-product.html">
                <img class="basket-page_img" src="./img/product-2.jpg">
              </a>
            </div>
            <div class="basket-page_info">
              <a class="basket-page_info_caption" href="./card-product.html">Цветочный горшок вазон №5 (шамот), D41xH40см, 12л</a>
              <div class="basket-page_info_item">
                <div class="basket-page_info_name">Артикул:</div>
                <div class="basket-page_info_value">TC042432X22-1206</div>
              </div>
              <div class="basket-page_info_item">
                <div class="basket-page_info_name">Вес:</div>
                <div class="basket-page_info_value">5,75 кг</div>
              </div>
            </div>
            <div class="basket-page_count">
              <div class="basket-page_minus">-</div>
              <div class="basket-page_amount">1</div>
              <div class="basket-page_plus">+</div>
            </div>
            <div class="basket-page_price_box">
              <div class="basket-page_price old">2 415 ₽</div>
              <div class="basket-page_price new">1 430 ₽</div>
            </div>
            <div class="basket-page_close"></div>
            <div class="basket-page_favorite"></div>
          </li>
        </ul>
        <form class="basket-page_promo">
          <div class="basket-page_promo_text">Используйте промокоды и купоны, чтобы получить дополнительную скидку</div>
          <div class="basket-page_promo_box">
            <input class="basket-page_promo_input" name="code" type="text" placeholder="Введите промокод" autocomplete="off" required>
            <button class="basket-page_promo_request" type="submit">Применить</button>
          </div>
        </form>
      </div>
      <div class="basket-page_right">
        <div class="basket-page_top">
          <div class="basket-page_right_box">
            <div class="basket-page_right_caption">Информация о заказе</div>
            <div class="basket-page_right_item">
              <div class="basket-page_right_name">Позиции (2)</div>
              <div class="basket-page_right_value">2 860 ₽</div>
            </div>
            <div class="basket-page_right_item">
              <div class="basket-page_right_name">Общий вес</div>
              <div class="basket-page_right_value">10,53 кг</div>
            </div>
            <div class="basket-page_right_item">
              <div class="basket-page_right_name">Персональная скидка </div>
              <div class="basket-page_right_value">860 ₽</div>
            </div>
          </div>
          <div class="basket-page_right_box">
            <div class="basket-page_right_caption">Доставка</div>
            <div class="basket-page_right_description">г.Москва, ул.Угрешская д. 2 стр. 146</div>
            <a class="basket-page_deliveryProfit_change" href="javascript:void(0);">Изменить</a>
          </div>
          <div class="basket-page_right_row">
            <div class="basket-page_right_text">Итого к оплате:</div>
            <div class="basket-page_right_price">7 500 ₽</div>
          </div>
          <div class="basket-page_error">
            <div class="basket-page_error_info">Минимальная сумма заказа 10 000 ₽</div>
            <div class="basket-page_error_text">Добавьте еще товаров в корзину</div>
          </div>
          <a class="basket-page_order" href="./order.html">Оформить заказ</a>
        </div>
        <div class="basket-page_bottom">
          <div class="basket-page_advantage deliveryProfit">
            <div class="basket-page_advantage_text"><a class="advantage_link" href="./delivery.html">Доставка</a> по всей россии</div>
          </div>
          <div class="basket-page_advantage payment">
            <div class="basket-page_advantage_text">Удобные способы <a class="advantage_link" href="javascript:void(0);">оплаты</a> заказа</div>
          </div>
          <div class="basket-page_advantage stock">
            <div class="basket-page_advantage_text">Регулярные <a class="advantage_link" href="./stock.html">акции</a> и распродажи</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
