<section class="catalog">
  <div class="container">
    <div class="catalog_wrapper">
      <div class="catalog_left">

        @@include("./catalog-filter.html")

      </div>
      <div class="catalog_right">
        <div class="catalog_top">
          <div class="catalog_sorting">
            <div class="catalog_sorting_main">Популярные</div>
            <div class="catalog_sorting_list">
              <div class="catalog_sorting_item">Популярные</div>
              <div class="catalog_sorting_item">Новинки</div>
              <div class="catalog_sorting_item">Дорогие</div>
              <div class="catalog_sorting_item">Дешевые</div>
            </div>
          </div>
          <div class="catalog_view">
            <a class="catalog_view_item block active" href="./catalog-level-3.html"></a>
            <a class="catalog_view_item row" href="./catalog-level-3-row.html"></a>
            <a class="catalog_view_item list" href="./catalog-level-3-list.html"></a>
          </div>
          <div class="catalog_show">Товары: 1 - 20 из 458</div>
          <nav class="page_nav">
            <a class="page_nav_prev" href="javascript:void(0);">←</a>
            <a class="page_nav_number active" href="javascript:void(0);">1</a>
            <a class="page_nav_number" href="javascript:void(0);">2</a>
            <a class="page_nav_number" href="javascript:void(0);">3</a>
            <a class="page_nav_number" href="javascript:void(0);">...</a>
            <a class="page_nav_number" href="javascript:void(0);">16</a>
            <a class="page_nav_next" href="javascript:void(0);">→</a>
          </nav>
        </div>
        <div class="catalog_list">

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-2.jpg',
              category: 'Цветочные горшки',
              name: 'Цветочный горшок вазон №5 (шамот), D41xH40см, 12л',
              stock: '-20%',
              priceOld: '3 210 ₽',
              priceNew: '2 587 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-35.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном Вьетнам (керамика), D23хН20см, 5л, бамбук',
              stock: '-20%',
              priceOld: '348 ₽',
              priceNew: '290 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-36.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном Шар (керамика), D19.5хН17см, 4.1л',
              stock: '-30%',
              priceOld: '2 145 ₽',
              priceNew: '1 714 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-37.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном Греция (керамика), D28.5хН19см, 6л',
              stock: '-10%',
              priceOld: '978 ₽',
              priceNew: '845 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-38.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном (керамика), D26xH25см, 13л',
              stock: '-21%',
              priceOld: '944 ₽',
              priceNew: '748 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-39.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном Шар (керамика), D19.5хН17см, 4.1л, бел',
              stock: '-30%',
              priceOld: '841 ₽',
              priceNew: '514 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-40.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. Горшок с поддоном Цилиндр микро (шамот), D13xH12см, 1л',
              stock: '-10%',
              priceOld: '345 ₽',
              priceNew: '274 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-41.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном Квадро №1 (шамот), 21*21xH21см, 6л',
              stock: '-10%',
              priceOld: '845 ₽',
              priceNew: '793 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-42.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном (керамика), D20xH19см, 4,7л, зеленый/2шт.',
              stock: '-30%',
              priceOld: '241 ₽',
              priceNew: '165 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-43.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном (керамика), D17xH15см, 2,4л, белый/4шт',
              stock: '-30%',
              priceOld: '641 ₽',
              priceNew: '488 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-44.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном Цветок №2 (керамика), D13xH13см, 1,4л',
              stock: '-30%',
              priceOld: '245 ₽',
              priceNew: '169 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-45.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном Абстракция (керамика), D17.5xH15.5см, 2,4л',
              stock: '-30%',
              priceOld: '214 ₽',
              priceNew: '174 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-46.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. Горшок с поддоном Лотус (шамот), D40xH14см, 10л',
              stock: '-30%',
              priceOld: '2 041 ₽',
              priceNew: '1 155 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-47.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном Шелк (керамика), D13xH13см, 1,4л',
              stock: '-30%',
              priceOld: '241 ₽',
              priceNew: '194 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

          @@include("./box.html", {
            context: {
              marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
              image: './img/product-48.jpg',
              category: 'Цветочные горшки',
              name: 'Цв. горшок с поддоном Шелк (керамика), D17xH15см, 2,4л',
              stock: '-30%',
              priceOld: '641 ₽',
              priceNew: '488 ₽',
              compareClass: '',
              amount: 'Осталось <span class="box_amount_number">5</span> шт.',
              link: './card-product.html',
            }
          })

        </div>
        <div class="catalog_row">
          <a class="catalog_more" href="javascript:void(0);">Показать еще</a>
        </div>
        <div class="subcategories_bottom">
          <div class="subcategories_slider">
            <h2 class="title small">Хит продаж</h2>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-10.jpg',
                      category: 'Кашпо',
                      name: 'Набор кашпо Сердце 3шт. 9x9см, 12x12см, 17x16см, белый/18шт.',
                      stock: '-15%',
                      priceOld: '745 ₽',
                      priceNew: '676 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-27.jpg',
                      category: 'Кашпо',
                      name: 'Кашпо (керамика), D16, белый/4шт',
                      stock: '',
                      priceOld: '',
                      priceNew: '299 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-28.jpg',
                      category: 'Кашпо',
                      name: 'Набор кашпо Сердце 3шт. 9x9см, 12x12см, 17x16см, белый/18шт.',
                      stock: '-17%',
                      priceOld: '1 245 ₽',
                      priceNew: '1 157 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-29.jpg',
                      category: 'Кашпо',
                      name: 'Набор кашпо Сердце 3шт. 9x9см, 12x12см, 17x16см, белый/18шт.',
                      stock: '-15%',
                      priceOld: '745 ₽',
                      priceNew: '676 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div class="subcategories_extra">
            <div class="subcategories_info">
              <div class="subcategories_description">
                <p>Вазы, кашпо, горшки, вазоны, кувшины — аксессуары номер один для фитодизайна. Интернет-магазин флористики «Азалия Декор» предоставляет возможность <b>купить изделия из керамики</b> разных форм и размеров, чтобы максимально подчеркнуть красоту цветов и расставить акценты.</p>
                <p>В этом разделе каталога представлено более 1600 товаров для оформления приусадебного участка, балкона и подоконника цветочными композициями и декоративными растениями. Широкий ассортимент товаров поможет вам найти всё необходимое для создания гармоничного пространства как дома, так и в саду. Цена зависит от размеров и материалов изготовления. В каталоге вы найдёте горшки и вазоны, балконные ящики, арки, шпалеры, опоры для растений, кустодержатели, ограждения для клумб и декоративные фигуры.</p>
              </div>
              <div class="subcategories_additionally">
                <div class="subcategories_description">
                  <p>В этом разделе каталога представлено более 1600 товаров для оформления приусадебного участка, балкона и подоконника цветочными композициями и декоративными растениями. Широкий ассортимент товаров поможет вам найти всё необходимое для создания гармоничного пространства как дома, так и в саду. Цена зависит от размеров и материалов изготовления. В каталоге вы найдёте горшки и вазоны, балконные ящики, арки, шпалеры, опоры для растений, кустодержатели, ограждения для клумб и декоративные фигуры.</p>
                  <p>В этом разделе каталога представлено более 1600 товаров для оформления приусадебного участка, балкона и подоконника цветочными композициями и декоративными растениями. Широкий ассортимент товаров поможет вам найти всё необходимое для создания гармоничного пространства как дома, так и в саду. Цена зависит от размеров и материалов изготовления. В каталоге вы найдёте горшки и вазоны, балконные ящики, арки, шпалеры, опоры для растений, кустодержатели, ограждения для клумб и декоративные фигуры.</p>
                  <p>В этом разделе каталога представлено более 1600 товаров для оформления приусадебного участка, балкона и подоконника цветочными композициями и декоративными растениями. Широкий ассортимент товаров поможет вам найти всё необходимое для создания гармоничного пространства как дома, так и в саду. Цена зависит от размеров и материалов изготовления. В каталоге вы найдёте горшки и вазоны, балконные ящики, арки, шпалеры, опоры для растений, кустодержатели, ограждения для клумб и декоративные фигуры.</p>
                </div>
              </div>
              <a class="subcategories_more" href="javascript:void(0);">Полное описание</a>
            </div>
            <div class="subcategories_extra_img_wrapper">
              <img class="subcategories_extra_img" src="./img/banner-category.jpg">
              <a class="subcategories_extra_img_link" href="javascript:void(0);"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
