<form class="catalog_filter">
  <div class="catalog_filter_view">Фильтр товаров</div>
  <div class="catalog_filter_container">
    <div class="catalog_filter_block">
      <div class="catalog_filter_name active">Категории</div>
      <div class="catalog_filter_list active">
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Одиночные">
            <div class="catalog_checkbox_text">Одиночные <span class="catalog_filter_amount">125</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Наборы">
            <div class="catalog_checkbox_text">Наборы <span class="catalog_filter_amount">45</span></div>
          </label>
        </div>
      </div>
    </div>
    <div class="catalog_filter_block">
      <div class="catalog_filter_name active">Цена</div>
      <div class="catalog_filter_list active">
        <div id="slider-range"></div>
        <div class="catalog_filter_price">
          <input class="catalog_filter_price_min" type="text" id="amount1" name="min" class="susses">
          <input class="catalog_filter_price_max" type="text" id="amount2" name="max" class="susses">
        </div>
      </div>
    </div>
    <div class="catalog_filter_block">
      <div class="catalog_filter_name active">Производитель</div>
      <div class="catalog_filter_list active">
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Бренд">
            <div class="catalog_checkbox_text">Бренд <span class="catalog_filter_amount">155</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Бренд">
            <div class="catalog_checkbox_text">Бренд <span class="catalog_filter_amount">57</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Бренд">
            <div class="catalog_checkbox_text">Бренд <span class="catalog_filter_amount">14</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Бренд">
            <div class="catalog_checkbox_text">Бренд <span class="catalog_filter_amount">4</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Бренд">
            <div class="catalog_checkbox_text">Бренд <span class="catalog_filter_amount">2</span></div>
          </label>
        </div>
      </div>
    </div>
    <div class="catalog_filter_block">
      <div class="catalog_filter_name active">Цвет</div>
      <div class="catalog_filter_list active">
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Зеленый">
            <div class="catalog_checkbox_text">Зеленый <span class="catalog_filter_amount">105</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Желтый">
            <div class="catalog_checkbox_text">Желтый <span class="catalog_filter_amount">55</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Синий">
            <div class="catalog_checkbox_text">Синий <span class="catalog_filter_amount">17</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Коричневый">
            <div class="catalog_checkbox_text">Коричневый <span class="catalog_filter_amount">11</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Оранжевый">
            <div class="catalog_checkbox_text">Оранжевый <span class="catalog_filter_amount">9</span></div>
          </label>
        </div>
      </div>
    </div>
    <div class="catalog_filter_block">
      <div class="catalog_filter_name active">Форма</div>
      <div class="catalog_filter_list active">
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Квадратная">
            <div class="catalog_checkbox_text">Квадратная <span class="catalog_filter_amount">105</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Круглая">
            <div class="catalog_checkbox_text">Круглая <span class="catalog_filter_amount">55</span></div>
          </label>
        </div>
        <div class="catalog_filter_item">
          <label class="catalog_checkbox">
            <input type="checkbox" name="Овальная">
            <div class="catalog_checkbox_text">Овальная <span class="catalog_filter_amount">17</span></div>
          </label>
        </div>
      </div>
    </div>
    <div class="catalog_filter_block">
      <div class="catalog_filter_name active">Популярные запросы</div>
      <div class="catalog_filter_list active">
        <div class="catalog_filter_request">
          <span class="catalog_filter_hashtag">кашпо на цепях</span>
          <span class="catalog_filter_hashtag">горшки для растений</span>
          <span class="catalog_filter_hashtag">керамические кашпо</span>
          <span class="catalog_filter_hashtag">горшок керамический</span>
          <span class="catalog_filter_hashtag">цветочный горшок из керамики</span>
        </div>
      </div>
    </div>
    <div class="catalog_filter_button">
      <button class="catalog_filter_reset" type="reset">Сбросить</button>
      <button class="catalog_filter_submit" type="submit">Применить</button>
    </div>
  </div>
</form>
