<section class="categories">
  <div class="container">
    <div class="categories_wrapper">
      <div class="categories_row one">
        <div class="categories_box max">
          <img class="categories_img" src="./img/category_1.jpg">
          <div class="categories_info">
            <div class="categories_name">Аксессуары и элементы декора</div>
            <div class="categories_amount">1258 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box max">
          <img class="categories_img" src="./img/category_2.jpg">
          <div class="categories_info">
            <div class="categories_name">Товары для дома и сада</div>
            <div class="categories_amount">2140 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box min">
          <img class="categories_img" src="./img/category_3.jpg">
          <div class="categories_info">
            <div class="categories_name">Товары для праздника</div>
            <div class="categories_amount">2140 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
      </div>
      <div class="categories_row two">
        <div class="categories_box min">
          <img class="categories_img" src="./img/category_4.jpg">
          <div class="categories_info">
            <div class="categories_name">Изделия из металла</div>
            <div class="categories_amount">1440 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box max">
          <img class="categories_img" src="./img/category_5.jpg">
          <div class="categories_info">
            <div class="categories_name">Изделия из керамики</div>
            <div class="categories_amount">1258 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box min">
          <img class="categories_img" src="./img/category_6.jpg">
          <div class="categories_info">
            <div class="categories_name">Плетенные изделия</div>
            <div class="categories_amount">450 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box mid">
          <img class="categories_img" src="./img/category_7.jpg">
          <div class="categories_info">
            <div class="categories_name">Изделия из пластика</div>
            <div class="categories_amount">1017 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
      </div>
      <div class="categories_row three">
        <div class="categories_box mid">
          <img class="categories_img" src="./img/category_8.jpg">
          <div class="categories_info">
            <div class="categories_name">Изделия из стекла</div>
            <div class="categories_amount">874 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box min">
          <img class="categories_img" src="./img/category_9.jpg">
          <div class="categories_info">
            <div class="categories_name">Игрушки</div>
            <div class="categories_amount">630 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box mid">
          <img class="categories_img" src="./img/category_10.jpg">
          <div class="categories_info">
            <div class="categories_name">Деревянные изделия</div>
            <div class="categories_amount">747 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box min">
          <img class="categories_img" src="./img/category_11.jpg">
          <div class="categories_info">
            <div class="categories_name">Искусственные растения</div>
            <div class="categories_amount">210 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box min">
          <img class="categories_img" src="./img/category_12.jpg">
          <div class="categories_info">
            <div class="categories_name">Книги и журналы</div>
            <div class="categories_amount">450 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
      </div>
      <div class="categories_row four">
        <div class="categories_box min">
          <img class="categories_img" src="./img/category_13.jpg">
          <div class="categories_info">
            <div class="categories_name">Натуральные декоративные материалы</div>
            <div class="categories_amount">630 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box max">
          <img class="categories_img" src="./img/category_14.jpg">
          <div class="categories_info">
            <div class="categories_name">Расходные материалы</div>
            <div class="categories_amount">1258 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
        <div class="categories_box max">
          <img class="categories_img" src="./img/category_15.jpg">
          <div class="categories_info">
            <div class="categories_name">Упаковка для цветов и подарков</div>
            <div class="categories_amount">1258 товаров</div>
          </div>
          <a class="categories_link" href="./catalog-level-2.html"></a>
        </div>
      </div>
    </div>
  </div>
</section>