<section class="compare">
  <div class="container">
    <div class="compare_slider">
      <h2 class="compare_caption">Характеристики</h2>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">

            @@include("./box.html", {
              context: {
                marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
                image: './img/product-30.jpg',
                category: 'Вазы',
                name: 'Ваза Бутылка (керамика), H30x18см, бирюзовый/12шт.',
                stock: '-14%',
                priceOld: '1 245 ₽',
                priceNew: '1 164 ₽',
                compareClass: 'active',
                amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                link: './card-product.html',
              }
            })

            @@include("./compare-box.html", {
              context: {
                star: 's-4',
                arr: [
                  {'name': 'Артикул:', 'value': '1495',},
                  {'name': 'Вес, кг:', 'value': '5,75',},
                  {'name': 'Диаметр (см):', 'value': '32',},
                  {'name': 'Высота (см):', 'value': '48',},
                  {'name': 'Тип продукта:', 'value': 'Вазон',},
                  {'name': 'Основной материал:', 'value': 'Поликерамика',},
                ],
              }
            })

          </div>
          <div class="swiper-slide">

            @@include("./box.html", {
              context: {
                marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
                image: './img/product-22.jpg',
                category: 'Кувшин',
                name: 'Кувшин (керамика), Н19см, белый/24шт.',
                stock: '-30%',
                priceOld: '2 640 ₽',
                priceNew: '359 ₽',
                compareClass: 'active',
                amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                link: './card-product.html',
              }
            })

            @@include("./compare-box.html", {
              context: {
                star: 's-4',
                arr: [
                  {'name': 'Артикул:', 'value': '1495',},
                  {'name': 'Вес, кг:', 'value': '5,75',},
                  {'name': 'Диаметр (см):', 'value': '32',},
                  {'name': 'Высота (см):', 'value': '48',},
                  {'name': 'Тип продукта:', 'value': 'Вазон',},
                  {'name': 'Основной материал:', 'value': 'Поликерамика',},
                ],
              }
            })

          </div>
          <div class="swiper-slide">

            @@include("./box.html", {
              context: {
                marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
                image: './img/product-31.jpg',
                category: 'Кувшин',
                name: 'Кувшин Бабочка (керамика), Н21см, зеленый/12шт.',
                stock: '-30%',
                priceOld: '1 410 ₽',
                priceNew: '1 145 ₽',
                compareClass: 'active',
                amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                link: './card-product.html',
              }
            })

            @@include("./compare-box.html", {
              context: {
                star: 's-4',
                arr: [
                  {'name': 'Артикул:', 'value': '1495',},
                  {'name': 'Вес, кг:', 'value': '5,75',},
                  {'name': 'Диаметр (см):', 'value': '32',},
                  {'name': 'Высота (см):', 'value': '48',},
                  {'name': 'Тип продукта:', 'value': 'Вазон',},
                  {'name': 'Основной материал:', 'value': 'Поликерамика',},
                ],
              }
            })

          </div>
          <div class="swiper-slide">

            @@include("./box.html", {
              context: {
                marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
                image: './img/product-32.jpg',
                category: 'Кувшин',
                name: 'Кувшин Бабочка (керамика), Н21см, синий/12шт',
                stock: '',
                priceOld: '',
                priceNew: '978 ₽',
                compareClass: 'active',
                amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                link: './card-product.html',
              }
            })

            @@include("./compare-box.html", {
              context: {
                star: 's-4',
                arr: [
                  {'name': 'Артикул:', 'value': '1495',},
                  {'name': 'Вес, кг:', 'value': '5,75',},
                  {'name': 'Диаметр (см):', 'value': '32',},
                  {'name': 'Высота (см):', 'value': '48',},
                  {'name': 'Тип продукта:', 'value': 'Вазон',},
                  {'name': 'Основной материал:', 'value': 'Поликерамика',},
                ],
              }
            })

          </div>
          <div class="swiper-slide">

            @@include("./box.html", {
              context: {
                marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
                image: './img/product-33.jpg',
                category: 'Вазы',
                name: 'Ваза (керамика), H20см, зеленый/24шт.',
                stock: '-30%',
                priceOld: '1 102 ₽',
                priceNew: '793 ₽',
                compareClass: 'active',
                amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                link: './card-product.html',
              }
            })

            @@include("./compare-box.html", {
              context: {
                star: 's-4',
                arr: [
                  {'name': 'Артикул:', 'value': '1495',},
                  {'name': 'Вес, кг:', 'value': '5,75',},
                  {'name': 'Диаметр (см):', 'value': '32',},
                  {'name': 'Высота (см):', 'value': '48',},
                  {'name': 'Тип продукта:', 'value': 'Вазон',},
                  {'name': 'Основной материал:', 'value': 'Поликерамика',},
                ],
              }
            })

          </div>
          <div class="swiper-slide">

            @@include("./box.html", {
              context: {
                marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
                image: './img/product-34.jpg',
                category: 'Вазы',
                name: 'Ваза (керамика), H18см, белый/36шт.',
                stock: '',
                priceOld: '',
                priceNew: '208 ₽',
                compareClass: 'active',
                amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                link: './card-product.html',
              }
            })

            @@include("./compare-box.html", {
              context: {
                star: 's-4',
                arr: [
                  {'name': 'Артикул:', 'value': '1495',},
                  {'name': 'Вес, кг:', 'value': '5,75',},
                  {'name': 'Диаметр (см):', 'value': '32',},
                  {'name': 'Высота (см):', 'value': '48',},
                  {'name': 'Тип продукта:', 'value': 'Вазон',},
                  {'name': 'Основной материал:', 'value': 'Поликерамика',},
                ],
              }
            })

          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>