<section class="favorite">
  <div class="container">
    <div class="favorite_wrapper">
      <div class="basket-page_nav_row">
        <nav class="basket-page_nav">
          <a class="basket-page_nav_link" href="./basket.html">Корзина товаров</a>
          <a class="basket-page_nav_link active" href="./favorite.html">Избранные товары</a>
        </nav>
        <div class="favorite_add">Добавить все в корзину</div>
      </div>
      <ul class="basket-page_list">
        <li class="favorite_item">
          <div class="basket-page_img_wrapper">
            <a class="basket-page_img_link" href="./card-product.html">
              <img class="basket-page_img" src="./img/product-2.jpg">
            </a>
          </div>
          <div class="basket-page_info">
            <a class="basket-page_info_caption" href="./card-product.html">Цветочный горшок вазон №5 (шамот), D41xH40см, 12л</a>
            <div class="basket-page_info_item">
              <div class="basket-page_info_name">Артикул:</div>
              <div class="basket-page_info_value">TC042432X22-1206</div>
            </div>
            <div class="basket-page_info_item">
              <div class="basket-page_info_name">Вес:</div>
              <div class="basket-page_info_value">5,75 кг</div>
            </div>
          </div>
          <div class="basket-page_count">
            <div class="basket-page_minus">-</div>
            <div class="basket-page_amount">1</div>
            <div class="basket-page_plus">+</div>
          </div>
          <div class="basket-page_price_box">
            <div class="basket-page_price old">2 415 ₽</div>
            <div class="basket-page_price new">1 430 ₽</div>
          </div>
          <button class="favorite_basket-add">Добавить в корзину</button>
          <div class="basket-page_close"></div>
        </li>
        <li class="favorite_item">
          <div class="basket-page_img_wrapper">
            <a class="basket-page_img_link" href="./card-product.html">
              <img class="basket-page_img" src="./img/product-2.jpg">
            </a>
          </div>
          <div class="basket-page_info">
            <a class="basket-page_info_caption" href="./card-product.html">Цветочный горшок вазон №5 (шамот), D41xH40см, 12л</a>
            <div class="basket-page_info_item">
              <div class="basket-page_info_name">Артикул:</div>
              <div class="basket-page_info_value">TC042432X22-1206</div>
            </div>
            <div class="basket-page_info_item">
              <div class="basket-page_info_name">Вес:</div>
              <div class="basket-page_info_value">5,75 кг</div>
            </div>
          </div>
          <div class="basket-page_count">
            <div class="basket-page_minus">-</div>
            <div class="basket-page_amount">1</div>
            <div class="basket-page_plus">+</div>
          </div>
          <div class="basket-page_price_box">
            <div class="basket-page_price old">2 415 ₽</div>
            <div class="basket-page_price new">1 430 ₽</div>
          </div>
          <button class="favorite_basket-add">Добавить в корзину</button>
          <div class="basket-page_close"></div>
        </li>
        <li class="favorite_item">
          <div class="basket-page_img_wrapper">
            <a class="basket-page_img_link" href="./card-product.html">
              <img class="basket-page_img" src="./img/product-2.jpg">
            </a>
          </div>
          <div class="basket-page_info">
            <a class="basket-page_info_caption" href="./card-product.html">Цветочный горшок вазон №5 (шамот), D41xH40см, 12л</a>
            <div class="basket-page_info_item">
              <div class="basket-page_info_name">Артикул:</div>
              <div class="basket-page_info_value">TC042432X22-1206</div>
            </div>
            <div class="basket-page_info_item">
              <div class="basket-page_info_name">Вес:</div>
              <div class="basket-page_info_value">5,75 кг</div>
            </div>
          </div>
          <div class="basket-page_count">
            <div class="basket-page_minus">-</div>
            <div class="basket-page_amount">1</div>
            <div class="basket-page_plus">+</div>
          </div>
          <div class="basket-page_price_box">
            <div class="basket-page_price old">2 415 ₽</div>
            <div class="basket-page_price new">1 430 ₽</div>
          </div>
          <button class="favorite_basket-add">Добавить в корзину</button>
          <div class="basket-page_close"></div>
        </li>
      </ul>
    </div>
  </div>
</section>