<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="footer_wrapper">
        <div class="footer_left">
          <div class="footer_logo">
            <a class="footer_logo_link" href="./">
              <img class="footer_logo_img" src="./img/headersvg-white.svg" alt="Азалия" title="Азалия">
            </a>
            <div class="footer_logo_description">Интернет-магазин элементов декора, аксессуаров и сувенирных изделий.</div>
          </div>
          <div class="footer_copyright">2018 © ООО «Азалия Декор»</div>
        </div>
        <nav class="footer_nav">
          <div class="footer_nav_name">Компания</div>
          <a class="footer_nav_item" href="./about.html">О компании</a>
          <a class="footer_nav_item" href="./article.html">Блог</a>
          <a class="footer_nav_item" href="./jobs.html">Вакансии</a>
          <a class="footer_nav_item" href="./contacts-branch.html">Филиалы</a>
        </nav>
        <nav class="footer_nav">
          <div class="footer_nav_name">Информация</div>
          <a class="footer_nav_item" href="./delivery.html">Доставка</a>
          <!--<a class="footer_nav_item" href="javascript:void(0);">Оплата</a>-->
          <a class="footer_nav_item" href="./help.html">Помощь</a>
          <a class="footer_nav_item" href="./faq.html">FAQ</a>
        </nav>
        <nav class="footer_nav">
          <div class="footer_nav_name">Каталог товаров</div>
          <div class="footer_nav_box">
            <div class="footer_nav_list">
              <a class="footer_nav_item" href="./catalog-level-2.html">Аксессуары и декор</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Товары для дома и сада</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Товары для праздника</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Изделия из керамики</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Изделия из пластика</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Изделия из металла</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Плетеные изделия</a>
            </div>
            <div class="footer_nav_list">
              <a class="footer_nav_item" href="./catalog-level-2.html">Искусственные растения</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Игрушки</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Сезонные товары</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Книги, журналы</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Все для флористов</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Упаковка для цветов</a>
              <a class="footer_nav_item" href="./catalog-level-2.html">Натуральные декоративные материалы</a>
            </div>
          </div>
        </nav>
        <div class="footer_social">
          <div class="footer_text">Подписывайтесь на нас:</div>
          <div class="footer_social_box">
            <a class="footer_social_item vk" href="javascript:void(0);"></a>
            <a class="footer_social_item instagram" href="javascript:void(0);"></a>
            <a class="footer_social_item facebook" href="javascript:void(0);"></a>
            <a class="footer_social_item youtube" href="javascript:void(0);"></a>
          </div>
          <div class="footer_text">Мы принимаем к оплате:</div>
          <div class="footer_social_payment"></div>
        </div>
        <div class="footer_right">
          <div class="footer_text">Контакты:</div>
          <a class="footer_phone" href="tel:+78001000185">8 (800) 100-01-85</a>
          <a class="footer_phone" href="tel:+74959332694">8 (495) 933-26-94</a>
          <a class="footer_call js-popup"  href="#callMe">Заказать обратный звонок</a>
          <a class="footer_mail" href="mailto:info@azaliadecor.ru">info@azaliadecor.ru</a>
          <div class="footer_time">
            <p>Пн,Вт,Чт, Пт: 9:00 - 00:00</p>
            <p>Ср,Сб: 8:00 - 00:00</p>
            <p>Вс: 9:00 - 20:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="footer_develop">
        Разработка интернет-магазина — <a class="footer_develop_link" href="http://champer.ru/" target="_blank">Digital agency Champer</a>
      </div>
    </div>
  </div>
</footer>
