<section class="about-page_intro">
  <div class="container">
    <div class="about-page_intro_top">
      <div class="about-page_intro_info hide">
        <h1 class="about-page_title red">«Азалия Декор» —</h1>
        <h2 class="about-page_title">оптовый российский поставщик товаров для флористики и декора</h2>
        <div class="about-page_description hide">Мы приглашаем к сотрудничеству всех, кто занимается любимым делом и  уверены, что при слаженной работе успеха можно достигнуть в самых сложных начинаниях. </div>
      </div>
      <div class="about-page_bg"></div>
      <div class="about-page_tape"></div>
      <div class="about-page_plus one hide"></div>
      <div class="about-page_car hide"></div>
      <div class="about-page_plus two hide"></div>
    </div>
    <div class="about-page_intro_bottom hide">
      <div class="about-page_title">Помогаем в реализации проектов <span>каждого клиента</span></div>
      <div class="about-page_intro_box">
        <div class="about-page_intro_box_wrapper">
          <div class="about-page_intro_number">01</div>
          <div class="about-page_intro_caption">Огромный ассортимент товаров</div>
          <div class="about-page_description">Вы сможете покупать все, что необходимо, в одном месте, не тратя драгоценное время на поиски нескольких контрагентов. У нас найдутся эффектные аксессуары для оформления композиций, всевозможная упаковка для цветов и подарков, инструменты для флористов и материалы для ландшафтных дизайнеров.</div>
        </div>
      </div>
      <div class="about-page_intro_box">
        <div class="about-page_intro_box_wrapper">
          <div class="about-page_intro_number">02</div>
          <div class="about-page_intro_caption">Постоянное расширение ассортимента</div>
          <div class="about-page_description">Мы в курсе новых трендов и регулярно добавляем в каталог интересные позиции, чтобы вы могли заниматься фитодизайном и создавать интерьеры в соответствии с современными и классическими течениями. Плетеные изделия позволят выдерживать проекты в эко-стиле и натурализме, металл подойдет для ампира и хай-тека, керамика отлично впишется в античные или японские сады.</div>
        </div>
      </div>
      <div class="about-page_intro_box">
        <div class="about-page_intro_box_wrapper">
          <div class="about-page_intro_number">03</div>
          <div class="about-page_intro_caption">Продукцию известных брендов</div>
          <div class="about-page_description">Мы не работаем с непроверенными поставщиками и производителями. Приобретая любые наши товары — от натуральных материалов, до искусственных растений вы можете быть уверены в их качестве.</div>
        </div>
      </div>
      <div class="about-page_intro_box">
        <div class="about-page_intro_box_wrapper">
          <div class="about-page_intro_number">04</div>
          <div class="about-page_intro_caption">Новые торговые марки и бренды</div>
          <div class="about-page_description"> В нашем центре декора можно встретить уникальные торговые марки, с которыми работаем только мы. К примеру, Tender Toys — коллекции мягких игрушек, приобрести которые можно в Москве только в магазинах "Азалия Декор".</div>
        </div>
      </div>
      <div class="about-page_intro_box">
        <div class="about-page_intro_box_wrapper">
          <div class="about-page_intro_number">05</div>
          <div class="about-page_intro_caption">Большую складскую программу</div>
          <div class="about-page_description">Наша задача — своевременно обеспечивать Вас всем необходимым. Именно поэтому мы имеем достаточный запас товара на складе, включая сезонные коллекции, который позволяет выполнять ваши заказы без промедлений.</div>
        </div>
      </div>
    </div>
  </div>
</section>