<section class="about-page_merits">
  <div class="container">
    <div class="about-page_merits_wrapper">
      <div class="about-page_merits_info">
        <h2 class="about-page_title"><span>Занимаем лидирующие</span> позиции в своем сегменте</h2>
        <div class="about-page_description">Мы заинтересованы в Вашей лояльности и долгосрочных отношениях, поэтому делаем все, чтобы работать с нами было удобно и выгодно</div>
      </div>
      <ul class="about-page_merits_list">
        <li class="about-page_merits_item">
          <div class="about-page_merits_caption">15<span>лет</span></div>
          <div class="about-page_merits_text">на рынке декора и оформления</div>
        </li>
        <li class="about-page_merits_item">
          <div class="about-page_merits_caption">5000<span>м<sup>2</sup></span></div>
          <div class="about-page_merits_text">торговых и складских площадей</div>
        </li>
        <li class="about-page_merits_item">
          <div class="about-page_merits_caption">10 000</div>
          <div class="about-page_merits_text">наименований товаров раличных брендов</div>
        </li>
        <li class="about-page_merits_item">
          <div class="about-page_merits_caption">500</div>
          <div class="about-page_merits_text">известных торговых марок</div>
        </li>
      </ul>
    </div>
  </div>
</section>