<div id="jobsModal" class="modalDialog">
  <div class="modalDialog_container min">
    <div title="Закрыть" class="closeModal"></div>
    <div class="modalDialog_caption">Ваше резюме</div>
    <form class="modalDialog_form">
      <div class="modalDialog_form_item">
        <div class="modalDialog_form_text">Имя</div>
        <input class="modalDialog_form_input" name="name" type="text" placeholder="Введите ваше имя" autocomplete="off" required>
      </div>
      <div class="modalDialog_form_item">
        <div class="modalDialog_form_text">Телефон</div>
        <input class="modalDialog_form_input phone" name="phone" type="text" placeholder="Введите телефон" autocomplete="off" required>
      </div>
      <div class="modalDialog_form_item">
        <div class="modalDialog_form_text">Email</div>
        <input class="modalDialog_form_input" name="email" type="email" placeholder="Введите ваш e-mail" autocomplete="off" required>
      </div>
      <a class="modalDialog_attach" href="javascript:void(0);">Прикрепить резюме</a>
      <button class="modalDialog_form_submit" type="submit">Отправить</button>
      <label class="subscription_checkbox red">
        <input type="checkbox" name="confirm" required>
        <div class="subscription_checkbox_text">Я согласен с политикой конфиденциальности и даю согласие на обработку персональных данных</div>
      </label>
    </form>
  </div>
</div>