<div id="quickViewModal" class="modalDialog">
  <div class="modalDialog_container max">
    <div title="Закрыть" class="closeModal"></div>
    <div class="modalDialog_view_wrapper">
      <div class="modalDialog_view_img_wrapper">
        <a class="modalDialog_view_img_link" href="./card-product.html">
          <img class="modalDialog_view_img" src="./img/product-2.jpg">
        </a>
      </div>
      <div class="modalDialog_view_info">
        <a class="modalDialog_view_caption" href="./card-product.html">Цветочный горшок вазон № (шамот), D41xH40см, 12л</a>
        <div class="modalDialog_view_row_top">
          <div class="modalDialog_view_info_item">
            <div class="modalDialog_view_info_name">Артикул:</div>
            <div class="modalDialog_view_info_value">TC042432X22-1206</div>
          </div>
          <div class="modalDialog_view_info_item">
            <div class="modalDialog_view_info_name">Вес:</div>
            <div class="modalDialog_view_info_value">5,75 кг</div>
          </div>
          <div class="card-product_info_presence">Есть в наличии</div>
        </div>
        <div class="modalDialog_view_description">Кашпо для цветов представляет собой декоративную вазу, выполненную в виде двух лягушек на стволе березы. Ваза предназначена для установки внутрь цветочных горшков с растениями. Кашпо часто становятся последним штрихом, который совершенно изменяет интерьер помещения или ландшафтный дизайн сада. Благодаря такому кашпо вы сможете украсить вашу комнату, офис, сад и другие места.</div>
        <div class="modalDialog_view_row_center">
          <div class="card-product_count">
            <div class="card-product_minus">-</div>
            <div class="card-product_amount">1</div>
            <div class="card-product_plus">+</div>
          </div>
          <div class="modalDialog_view_price_box">
            <div class="card-product_price_row">
              <div class="modalDialog_view_price old">3 124 ₽</div>
              <div class="modalDialog_view_stock">-20%</div>
            </div>
            <div class="modalDialog_view_price new">2 587 ₽</div>
          </div>
        </div>
        <div class="modalDialog_view_row_bottom">
          <button class="btn add-red">Добавить в корзину</button>
          <div class="modalDialog_view_extra">
            <div class="card-product_compare_box">
              <div class="card-product_compare"></div>
            </div>
            <div class="card-product_favorite_box">
              <div class="card-product_favorite"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>