<div id="accountModal" class="modalDialog">
  <div class="modalDialog_container min">
    <div title="Закрыть" class="closeModal"></div>
    <div class="modalDialog_caption">Войти в личный кабинет</div>
    <form class="modalDialog_form">
      <div class="modalDialog_form_item">
        <div class="modalDialog_form_text">E-mail</div>
        <input class="modalDialog_form_input" name="email" type="email" placeholder="Введите e-mail" autocomplete="off" required>
      </div>
      <div class="modalDialog_form_item">
        <div class="modalDialog_form_text">Пароль</div>
        <input class="modalDialog_form_input" name="password" type="password" placeholder="Введите пароль" autocomplete="off" required>
      </div>
      <button class="modalDialog_form_submit" type="submit">Войти</button>
      <a class="modalDialog_form_link" href="./password.html">Забыли пароль?</a>
      <div class="modalDialog_form_description">Если у вас еще нет аккаунта, зарегестрируйтесь</div>
      <a class="modalDialog_form_link" href="./registration.html">Зарегистрироваться</a>
    </form>
  </div>
</div>
