<div id="cityChange" class="modalDialog">
  <div class="modalDialog_container mid">
    <div title="Закрыть" class="closeModal"></div>
    <div class="modalDialog_caption">Выберите ваш регион доставки</div>
    <form id="search_city" class="modalDialog_search">
      <input class="modalDialog_search_input" name="search" type="text" autocomplete="off">
      <button class="modalDialog_search_submit" type="submit">Найти</button>
      <div class="modalDialog_search_result">
        <div class="modalDialog_search_result_error">Такой город не найден</div>
        <div class="modalDialog_search_line">Санкт-Петербург</div>
        <div class="modalDialog_search_line">Самара</div>
        <div class="modalDialog_search_line">Саранск</div>
        <div class="modalDialog_search_line">Саратов</div>
        <div class="modalDialog_search_line">Сарапул</div>
      </div>
    </form>
    <div class="modalDialog_city_text">Популярные города</div>
    <div class="modalDialog_city_wrapper">
      <ul class="modalDialog_city_list">
        <li class="modalDialog_city_item">Москва и Подмосковье</li>
        <li class="modalDialog_city_item">Санкт-Петербург</li>
        <li class="modalDialog_city_item">Екатеринбург</li>
        <li class="modalDialog_city_item">Новосибирск</li>
        <li class="modalDialog_city_item">Ростов-на-Дону</li>
      </ul>
      <ul class="modalDialog_city_list">
        <li class="modalDialog_city_item">Сочи</li>
        <li class="modalDialog_city_item">Нижний Новгород</li>
        <li class="modalDialog_city_item">Ярославль</li>
        <li class="modalDialog_city_item">Калининград</li>
        <li class="modalDialog_city_item">Владимир</li>
      </ul>
      <ul class="modalDialog_city_list">
        <li class="modalDialog_city_item">Уфа</li>
        <li class="modalDialog_city_item">Челябинск</li>
        <li class="modalDialog_city_item">Тюмень</li>
        <li class="modalDialog_city_item">Воронеж</li>
        <li class="modalDialog_city_item">Волгоград</li>
      </ul>
    </div>
  </div>
</div>