<div id="addBasketModal" class="modalDialog">
  <div class="modalDialog_container mid">
    <div title="Закрыть" class="closeModal"></div>
    <div class="modalDialog_caption">Товар добавлен в корзину</div>
    <div class="modalDialog_basket_wrapper">
      <div class="modalDialog_basket_img_wrapper">
        <a class="modalDialog_basket_img_link" href="./card-product.html">
          <img class="modalDialog_basket_img" src="./img/product-2.jpg">
        </a>
      </div>
      <div class="modalDialog_basket_info">
        <a class="modalDialog_basket_caption" href="./card-product.html">Цветочный горшок вазон № (шамот), D41xH40см, 12л</a>
        <div class="modalDialog_basket_row">
          <div class="modalDialog_basket_left">
            <div class="modalDialog_basket_info_item">
              <div class="modalDialog_basket_info_name">Артикул:</div>
              <div class="modalDialog_basket_info_value">TC042432X22-1206</div>
            </div>
            <div class="modalDialog_basket_info_item">
              <div class="modalDialog_basket_info_name">Вес:</div>
              <div class="modalDialog_basket_info_value">5,75 кг</div>
            </div>
          </div>
          <div class="modalDialog_basket_price">2 587 ₽</div>
        </div>
        <div class="modalDialog_basket_row_bottom">
          <a class="modalDialog_basket_btn-red" href="./basket.html">Перейти в корзину</a>
          <a class="modalDialog_basket_btn-grey" href="javascript:void(0);">Продолжить покупки</a>
        </div>
      </div>
    </div>
  </div>
</div>