<section class="card-product">
  <div class="container">
    <div class="card-product_wrapper">
      <div class="card-product_slider">
        <div class="box_marker fire">
          <div class="box_marker_tooltips"></div>
        </div>
        <div class="swiper-container gallery-top">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/card-product-01.jpg">
            </div>
            <div class="swiper-slide">
              <img src="./img/card-product-01.jpg">
            </div>
            <div class="swiper-slide">
              <img src="./img/card-product-01.jpg">
            </div>
          </div>
        </div>
        <div class="swiper-container gallery-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/card-product-01.jpg">
            </div>
            <div class="swiper-slide">
              <img src="./img/card-product-01.jpg">
            </div>
            <div class="swiper-slide">
              <img src="./img/card-product-01.jpg">
            </div>
          </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div class="card-product_info">
        <div class="card-product_info_left">
          <h1 class="card-product_title">Цветочный горшок вазон №5 (шамот), D41xH40см, 12л</h1>
          <div class="card-product_info_row">
            <div class="card-product_info_code">Артикул 1495</div>
            <div class="card-product_info_presence">Есть в наличии</div>
          </div>
          <div class="card-product_price_row">
            <div class="card-product_price old">3 124 ₽</div>
            <div class="card-product_stock">-20%</div>
          </div>
          <div class="card-product_price new">2 587 ₽</div>
          <div class="card-product_add">
            <div class="card-product_count">
              <div class="card-product_minus">-</div>
              <div class="card-product_amount">1</div>
              <div class="card-product_plus">+</div>
            </div>
            <button class="btn add-red">Добавить в корзину</button>
          </div>
          <div class="card-product_add_extra">
            <div class="card-product_compare_box">
              <div class="card-product_compare">Добавить в сравнение</div>
            </div>
            <div class="card-product_favorite_box">
              <div class="card-product_favorite">В избранное</div>
            </div>
          </div>
          <div class="card-product_delivery">
            <div class="card-product_delivery_row">Стоимость доставки по <div class="card-product_delivery_city">Москве</div> <span> — 450 ₽</span></div>
            <div class="card-product_delivery_row">Стоимость доставки по России <span>— от 550 ₽</span></div>
            <div class="card-product_delivery_row">Самовывоз: <span>Бесплатно</span></div>
            <div class="card-product_delivery_row address">Москва, 1-й Магистральный проезд, д. 12, стр. 1</div>
          </div>
        </div>
        <div class="card-product_info_right">
          <div class="card-product_info_right-top">
            <div class="card-product_star"></div>
            <a class="card-product_feedback" href="#reviews">4 отзывов</a>
            <div class="card-product_stock_text">Товар участвует в акциях:</div>
            <a class="card-product_stock_link" href="./stock-detail.html">Скидки на садовый декор и керамические изделия</a>
          </div>
          <div class="card-product_info_right-bottom">
            <div class="card-product_options">Размеры: <span> 32 x 48 x 18 см</span></div>
            <div class="card-product_options">Вес: <span>5,75 кг</span></div>
            <div class="card-product_options">Материал: <span>поликерамика</span></div>
            <div class="card-product_options">Производство: <span>Россия</span></div>
            <a class="card-product_options_more" href="#options">Перейти к описанию</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
