<section class="options">
  <div class="container">
    <div class="options_wrapper">
      <div id="options" class="options_left">
        <div class="options_left-top">
          <h2 class="title small">Подробное описание</h2>
          <div class="options_subtitle">Артикул 1495</div>
          <div class="options_description">Кашпо для цветов представляет собой декоративную вазу, выполненную в виде двух лягушек на стволе березы. Ваза предназначена для установки внутрь цветочных горшков с растениями. Кашпо часто становятся последним штрихом, который совершенно изменяет интерьер помещения или ландшафтный дизайн сада. Благодаря такому кашпо вы сможете украсить вашу комнату, офис, сад и другие места.</div>
          <div class="options_additionally">
            <div class="options_description">Кашпо для цветов представляет собой декоративную вазу, выполненную в виде двух лягушек на стволе березы. Ваза предназначена для установки внутрь цветочных горшков с растениями. Кашпо часто становятся последним штрихом, который совершенно изменяет интерьер помещения или ландшафтный дизайн сада. Благодаря такому кашпо вы сможете украсить вашу комнату, офис, сад и другие места.</div>
          </div>
          <a class="options_more" href="javascript:void(0);">Полное описание</a>
        </div>
        <div class="options_left-bottom">
          <h2 class="title small">Характеристики</h2>
          <ul class="options_list">
            <li class="options_item">
              <div class="options_item_name">Артикул:</div>
              <div class="options_item_value">1495</div>
            </li>
            <li class="options_item">
              <div class="options_item_name">Вес, кг:</div>
              <div class="options_item_value">5,75</div>
            </li>
            <li class="options_item">
              <div class="options_item_name">Диаметр (см):</div>
              <div class="options_item_value">32</div>
            </li>
            <li class="options_item">
              <div class="options_item_name">Высота (см):</div>
              <div class="options_item_value">48</div>
            </li>
            <li class="options_item">
              <div class="options_item_name">Тип продукта:</div>
              <div class="options_item_value">Вазон</div>
            </li>
            <li class="options_item">
              <div class="options_item_name">Основной материал:</div>
              <div class="options_item_value">Поликерамика</div>
            </li>
            <li class="options_item">
              <div class="options_item_name">Страна производства:</div>
              <div class="options_item_value">Россия</div>
            </li>
          </ul>
        </div>
        <div class="options_link_wrapper">
          <a class="options_link" href="javascript:void(0);">Садовые вазоны</a>
          <a class="options_link" href="javascript:void(0);">Вазоны для дачи</a>
          <a class="options_link" href="javascript:void(0);">Кувшины для сада</a>
        </div>
      </div>
      <div id="reviews" class="options_right">
        <h2 class="title small">Отзывы</h2>
        <div class="options_subtitle">8 отзывов</div>
        <div class="reviews_marker_box">
          <div class="reviews_marker_text">Средняя оценка:</div>
          <div class="reviews_marker_star"></div>
        </div>
        <ul class="reviews_list">
          <li class="reviews_item">
            <div class="reviews_row top">
              <div class="reviews_name">Ангелина</div>
              <div class="reviews_star s-5"></div>
            </div>
            <div class="reviews_comment">Отлично вписывается в мой интерьер.</div>
            <div class="reviews_row">
              <div class="reviews_text">Преимущества:</div>
              <div class="reviews_comment plus">Восхитительный дизайн, прочный, не имеет неприятного запаха пластика, большой объем</div>
            </div>
            <div class="reviews_row">
              <div class="reviews_text">Недостатки:</div>
              <div class="reviews_comment minus">не выявила</div>
            </div>
          </li>
          <li class="reviews_item">
            <div class="reviews_row top">
              <div class="reviews_name">Петр</div>
              <div class="reviews_star s-4"></div>
            </div>
            <div class="reviews_comment">Хорошее кашпо, поставил его в саду. Немного не рассчитал с объемом, но покупкой доволен.</div>
            <div class="reviews_row">
              <div class="reviews_text">Преимущества:</div>
              <div class="reviews_comment plus">вазон лёгок, прост в уходе и прочен. </div>
            </div>
            <div class="reviews_row">
              <div class="reviews_text">Недостатки:</div>
              <div class="reviews_comment minus">не выявил особых</div>
            </div>
          </li>
          <li class="reviews_item">
            <div class="reviews_row top">
              <div class="reviews_name">Валентина</div>
              <div class="reviews_star s-5"></div>
            </div>
            <div class="reviews_comment">Отлично вписывается в мой интерьер. </div>
            <div class="reviews_row">
              <div class="reviews_text">Преимущества:</div>
              <div class="reviews_comment plus">Восхитительный дизайн, прочный, не имеет неприятного запаха пластика, большой объем.</div>
            </div>
            <div class="reviews_row">
              <div class="reviews_text">Недостатки:</div>
              <div class="reviews_comment minus">не выявила</div>
            </div>
          </li>
          <li class="reviews_item">
            <div class="reviews_row top">
              <div class="reviews_name">Софья</div>
              <div class="reviews_star s-5"></div>
            </div>
            <div class="reviews_comment">Отлично вписывается в мой интерьер. </div>
            <div class="reviews_row">
              <div class="reviews_text">Преимущества:</div>
              <div class="reviews_comment plus">Восхитительный дизайн, прочный, не имеет неприятного запаха пластика, большой объем.</div>
            </div>
            <div class="reviews_row">
              <div class="reviews_text">Недостатки:</div>
              <div class="reviews_comment minus">не выявила</div>
            </div>
          </li>
          <div class="reviews_additionally">
            <li class="reviews_item">
              <div class="reviews_row top">
                <div class="reviews_name">Ангелина</div>
                <div class="reviews_star s-5"></div>
              </div>
              <div class="reviews_comment">Отлично вписывается в мой интерьер.</div>
              <div class="reviews_row">
                <div class="reviews_text">Преимущества:</div>
                <div class="reviews_comment plus">Восхитительный дизайн, прочный, не имеет неприятного запаха пластика, большой объем</div>
              </div>
              <div class="reviews_row">
                <div class="reviews_text">Недостатки:</div>
                <div class="reviews_comment minus">не выявила</div>
              </div>
            </li>
            <li class="reviews_item">
              <div class="reviews_row top">
                <div class="reviews_name">Петр</div>
                <div class="reviews_star s-4"></div>
              </div>
              <div class="reviews_comment">Хорошее кашпо, поставил его в саду. Немного не рассчитал с объемом, но покупкой доволен.</div>
              <div class="reviews_row">
                <div class="reviews_text">Преимущества:</div>
                <div class="reviews_comment plus">вазон лёгок, прост в уходе и прочен. </div>
              </div>
              <div class="reviews_row">
                <div class="reviews_text">Недостатки:</div>
                <div class="reviews_comment minus">не выявил особых</div>
              </div>
            </li>
          </div>
          <a class="reviews_more" href="javascript:void(0);">Показать все отзывы</a>
        </ul>
      </div>
    </div>
  </div>
</section>