<section class="production">
  <div class="container">
    <div class="production_wrapper">
      <div class="production_container">
        <nav class="production_category_list">
          <a class="production_category_item" href="#hit">Хиты продаж</a>
          <a class="production_category_item" href="#new">Новинки</a>
          <a class="production_category_item active" href="#special">Спецпредложения</a>
        </nav>
        <div id="hit" class="production_category_box">
          <div class="production_slider">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-2.jpg',
                      category: 'Изделия из керамики',
                      name: 'Цветочный горшок вазон №5 (шамот), D41xH40см, 12л',
                      stock: '',
                      priceOld: '3 210 ₽',
                      priceNew: '2 587 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-18.jpg',
                      category: 'Мягкие игрушки',
                      name: 'Игрушка м/н Зайка Лин в подар. кор., 25см, кремовый/красный',
                      stock: '',
                      priceOld: '',
                      priceNew: '1 415 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-18.jpg',
                      category: 'Искусственные растения',
                      name: 'Фикус Бенжамина, 180 см/4шт.',
                      stock: '-30%',
                      priceOld: '7 410 ₽',
                      priceNew: '6 045 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-10.jpg',
                      category: 'Кашпо',
                      name: 'Набор кашпо Сердце 3шт. 9x9см, 12x12см, 17x16см, белый/18шт.',
                      stock: '-15%',
                      priceOld: '745 ₽',
                      priceNew: '676 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-19.jpg',
                      category: 'Изделия на прищепке',
                      name: 'Украшение Дед Мороз/Снеговик на прищепке, 10-12см, (в дисплее 48шт.)',
                      stock: '-30%',
                      priceOld: '241 ₽',
                      priceNew: '165 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-13.jpg',
                      category: 'Фетр',
                      name: 'Упаковочный материал Jungle 50см 9 м, коралловый',
                      stock: '-30%',
                      priceOld: '312 ₽',
                      priceNew: '299 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-16.jpg',
                      category: 'Искусственные растения',
                      name: 'Филодендрон, 100 см/4шт.',
                      stock: '-30%',
                      priceOld: '2 407 ₽',
                      priceNew: '1 855 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-11.jpg',
                      category: 'Садовые фигурки',
                      name: 'Кашпо Гном на велосипеде (полистоун), 32х16х35,5см,',
                      stock: '-20%',
                      priceOld: '1 748 ₽',
                      priceNew: '1 455 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-12.jpg',
                      category: 'Подносы',
                      name: 'Подставка 3 яруса, 51см, белый/36шт.',
                      stock: '-30%',
                      priceOld: '2 145 ₽',
                      priceNew: '1 714 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-15.jpg',
                      category: 'Вазоны',
                      name: 'Чаша каскада Грация (пластик), (1+3)x35x10см, терракотовый/10шт.',
                      stock: '-30%',
                      priceOld: '475 ₽',
                      priceNew: '376 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-9.jpg',
                      category: 'Сувениры',
                      name: 'Садовая фигура Лягушка, 44x36x34см',
                      stock: '-30%',
                      priceOld: '2 145 ₽',
                      priceNew: '1 755 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-17.jpg',
                      category: 'Мягкие игрушки',
                      name: 'Медведь с бантом, 65см, темно-коричневый',
                      stock: '-30%',
                      priceOld: '2 145 ₽',
                      priceNew: '1 674 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <div id="new" class="production_category_box">
          <div class="production_slider">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-1.jpg',
                      category: 'Аксессуары и декор',
                      name: 'Сувенир Ангелы с сердцем (полирезин), белый',
                      stock: '',
                      priceOld: '3 211 ₽',
                      priceNew: '2 748 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-19.jpg',
                      category: 'Изделия на прищепке',
                      name: 'Украшение Дед Мороз/Снеговик на прищепке, 10-12см, (в дисплее 48шт.)',
                      stock: '-30%',
                      priceOld: '241 ₽',
                      priceNew: '165 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-17.jpg',
                      category: 'Мягкие игрушки',
                      name: 'Медведь с бантом, 65см, темно-коричневый',
                      stock: '-30%',
                      priceOld: '2 145 ₽',
                      priceNew: '1 674 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-13.jpg',
                      category: 'Фетр',
                      name: 'Упаковочный материал Jungle 50см 9 м, коралловый',
                      stock: '-30%',
                      priceOld: '312 ₽',
                      priceNew: '299 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-20.jpg',
                      category: 'Кувшины',
                      name: 'Кувшин Магнолия (металл), D14xH18,5см, розовый',
                      stock: '-30%',
                      priceOld: '641 ₽',
                      priceNew: '488 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-12.jpg',
                      category: 'Подносы',
                      name: 'Подставка 3 яруса, 51см, белый/36шт.',
                      stock: '-30%',
                      priceOld: '2 145 ₽',
                      priceNew: '1 714 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-15.jpg',
                      category: 'Вазоны',
                      name: 'Чаша каскада Грация (пластик), (1+3)x35x10см, терракотовый/10шт.',
                      stock: '-30%',
                      priceOld: '475 ₽',
                      priceNew: '376 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-9.jpg',
                      category: 'Сувениры',
                      name: 'Садовая фигура Лягушка, 44x36x34см',
                      stock: '-30%',
                      priceOld: '2 145 ₽',
                      priceNew: '1 755 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-10.jpg',
                      category: 'Кашпо',
                      name: 'Набор кашпо Сердце 3шт. 9x9см, 12x12см, 17x16см, белый/18шт.',
                      stock: '-15%',
                      priceOld: '745 ₽',
                      priceNew: '676 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-14.jpg',
                      category: 'Искусственные растения',
                      name: 'Фикус Бенжамина, 180 см/4шт.',
                      stock: '-30%',
                      priceOld: '7 410 ₽',
                      priceNew: '6 045 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-16.jpg',
                      category: 'Искусственные растения',
                      name: 'Филодендрон, 100 см/4шт.',
                      stock: '-30%',
                      priceOld: '2 407 ₽',
                      priceNew: '1 855 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-18.jpg',
                      category: 'Мягкие игрушки',
                      name: 'Игрушка м/н Зайка Лин в подар. кор., 25см, кремовый/красный',
                      stock: '',
                      priceOld: '',
                      priceNew: '1 415 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <div id="special" class="production_category_box">
          <div class="production_slider">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-9.jpg',
                      category: 'Сувениры',
                      name: 'Садовая фигура Лягушка, 44x36x34см',
                      stock: '-30%',
                      priceOld: '2 145 ₽',
                      priceNew: '1 755 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-15.jpg',
                      category: 'Вазоны',
                      name: 'Чаша каскада Грация (пластик), (1+3)x35x10см, терракотовый/10шт.',
                      stock: '-30%',
                      priceOld: '475 ₽',
                      priceNew: '376 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-10.jpg',
                      category: 'Кашпо',
                      name: 'Набор кашпо Сердце 3шт. 9x9см, 12x12см, 17x16см, белый/18шт.',
                      stock: '-15%',
                      priceOld: '745 ₽',
                      priceNew: '676 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-16.jpg',
                      category: 'Искусственные растения',
                      name: 'Филодендрон, 100 см/4шт.',
                      stock: '-30%',
                      priceOld: '2 407 ₽',
                      priceNew: '1 855 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-11.jpg',
                      category: 'Садовые фигурки',
                      name: 'Кашпо Гном на велосипеде (полистоун), 32х16х35,5см,',
                      stock: '-20%',
                      priceOld: '1 748 ₽',
                      priceNew: '1 455 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-17.jpg',
                      category: 'Мягкие игрушки',
                      name: 'Медведь с бантом, 65см, темно-коричневый',
                      stock: '-30%',
                      priceOld: '2 145 ₽',
                      priceNew: '1 674 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-12.jpg',
                      category: 'Подносы',
                      name: 'Подставка 3 яруса, 51см, белый/36шт.',
                      stock: '-30%',
                      priceOld: '2 145 ₽',
                      priceNew: '1 714 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-18.jpg',
                      category: 'Мягкие игрушки',
                      name: 'Игрушка м/н Зайка Лин в подар. кор., 25см, кремовый/красный',
                      stock: '',
                      priceOld: '',
                      priceNew: '1 415 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-13.jpg',
                      category: 'Фетр',
                      name: 'Упаковочный материал Jungle 50см 9 м, коралловый',
                      stock: '-30%',
                      priceOld: '312 ₽',
                      priceNew: '299 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-19.jpg',
                      category: 'Изделия на прищепке',
                      name: 'Украшение Дед Мороз/Снеговик на прищепке, 10-12см, (в дисплее 48шт.)',
                      stock: '-30%',
                      priceOld: '241 ₽',
                      priceNew: '165 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-14.jpg',
                      category: 'Искусственные растения',
                      name: 'Фикус Бенжамина, 180 см/4шт.',
                      stock: '-30%',
                      priceOld: '7 410 ₽',
                      priceNew: '6 045 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
                <div class="swiper-slide">

                  @@include("./box.html", {
                    context: {
                      marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
                      image: './img/product-20.jpg',
                      category: 'Кувшины',
                      name: 'Кувшин Магнолия (металл), D14xH18,5см, розовый',
                      stock: '-30%',
                      priceOld: '641 ₽',
                      priceNew: '488 ₽',
                      compareClass: '',
                      amount: 'Осталось <span class="box_amount_number">5</span> шт.',
                      link: './card-product.html',
                    }
                  })

                </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
      <div class="banner_wrapper">
        <div class="banner_box">
          <img class="banner_img" src="./img/banner-1.jpg">
          <div class="banner_info">
            <div class="banner_name">Керамические вазы</div>
            <div class="banner_description">по супер цене</div>
          </div>
          <a class="banner_link" href="./stock-page.html"></a>
        </div>
        <div class="banner_box white">
          <img class="banner_img" src="./img/banner-2.jpg">
          <div class="banner_info">
            <div class="banner_name white">Скидки</div>
            <div class="banner_description white">на елочные украшения</div>
          </div>
          <a class="banner_link" href="./stock-page.html"></a>
        </div>
      </div>
    </div>
  </div>
</section>
