<section class="search-page">
  <div class="container">
    <div class="brands_row">
      <nav class="page_nav">
        <a class="page_nav_prev" href="javascript:void(0);">←</a>
        <a class="page_nav_number active" href="javascript:void(0);">1</a>
        <a class="page_nav_number" href="javascript:void(0);">2</a>
        <a class="page_nav_number" href="javascript:void(0);">3</a>
        <a class="page_nav_number" href="javascript:void(0);">...</a>
        <a class="page_nav_number" href="javascript:void(0);">16</a>
        <a class="page_nav_next" href="javascript:void(0);">→</a>
      </nav>
    </div>
    <div class="search-page_wrapper">

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker star"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-2.jpg',
          category: 'Цветочные горшки',
          name: 'Цветочный горшок вазон №5 (шамот), D41xH40см, 12л',
          stock: '-20%',
          priceOld: '3 210 ₽',
          priceNew: '2 587 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker new"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-35.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном Вьетнам (керамика), D23хН20см, 5л, бамбук',
          stock: '-20%',
          priceOld: '348 ₽',
          priceNew: '290 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker sale"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-36.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном Шар (керамика), D19.5хН17см, 4.1л',
          stock: '-30%',
          priceOld: '2 145 ₽',
          priceNew: '1 714 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker fire"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-37.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном Греция (керамика), D28.5хН19см, 6л',
          stock: '-10%',
          priceOld: '978 ₽',
          priceNew: '845 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-38.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном (керамика), D26xH25см, 13л',
          stock: '-21%',
          priceOld: '944 ₽',
          priceNew: '748 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-39.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном Шар (керамика), D19.5хН17см, 4.1л, бел',
          stock: '-30%',
          priceOld: '841 ₽',
          priceNew: '514 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-40.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. Горшок с поддоном Цилиндр микро (шамот), D13xH12см, 1л',
          stock: '-10%',
          priceOld: '345 ₽',
          priceNew: '274 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-41.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном Квадро №1 (шамот), 21*21xH21см, 6л',
          stock: '-10%',
          priceOld: '845 ₽',
          priceNew: '793 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-42.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном (керамика), D20xH19см, 4,7л, зеленый/2шт.',
          stock: '-30%',
          priceOld: '241 ₽',
          priceNew: '165 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-43.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном (керамика), D17xH15см, 2,4л, белый/4шт',
          stock: '-30%',
          priceOld: '641 ₽',
          priceNew: '488 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-44.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном Цветок №2 (керамика), D13xH13см, 1,4л',
          stock: '-30%',
          priceOld: '245 ₽',
          priceNew: '169 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-45.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном Абстракция (керамика), D17.5xH15.5см, 2,4л',
          stock: '-30%',
          priceOld: '214 ₽',
          priceNew: '174 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-46.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. Горшок с поддоном Лотус (шамот), D40xH14см, 10л',
          stock: '-30%',
          priceOld: '2 041 ₽',
          priceNew: '1 155 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-47.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном Шелк (керамика), D13xH13см, 1,4л',
          stock: '-30%',
          priceOld: '241 ₽',
          priceNew: '194 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-48.jpg',
          category: 'Цветочные горшки',
          name: 'Цв. горшок с поддоном Шелк (керамика), D17xH15см, 2,4л',
          stock: '-30%',
          priceOld: '641 ₽',
          priceNew: '488 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-30.jpg',
          category: 'Вазы',
          name: 'Ваза Бутылка (керамика), H30x18см, бирюзовый/12шт.',
          stock: '-14%',
          priceOld: '1 245 ₽',
          priceNew: '1 164 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-22.jpg',
          category: 'Кувшин',
          name: 'Кувшин (керамика), Н19см, белый/24шт.',
          stock: '-30%',
          priceOld: '2 640 ₽',
          priceNew: '359 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-31.jpg',
          category: 'Кувшин',
          name: 'Кувшин Бабочка (керамика), Н21см, зеленый/12шт.',
          stock: '-30%',
          priceOld: '1 410 ₽',
          priceNew: '1 145 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-32.jpg',
          category: 'Кувшин',
          name: 'Кувшин Бабочка (керамика), Н21см, синий/12шт',
          stock: '',
          priceOld: '',
          priceNew: '978 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-33.jpg',
          category: 'Вазы',
          name: 'Ваза (керамика), H20см, зеленый/24шт.',
          stock: '-30%',
          priceOld: '1 102 ₽',
          priceNew: '793 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-34.jpg',
          category: 'Вазы',
          name: 'Ваза (керамика), H18см, белый/36шт.',
          stock: '',
          priceOld: '',
          priceNew: '208 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-21.jpg',
          category: 'Кувшин',
          name: 'Кувшин (керамика), Н18.5см, 2л, зеленый',
          stock: '-30%',
          priceOld: '3 415 ₽',
          priceNew: '793 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-22.jpg',
          category: 'Кувшин',
          name: 'Кувшин (керамика), Н19см, белый/24шт.',
          stock: '-30%',
          priceOld: '2 640 ₽',
          priceNew: '359 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

      @@include("./box.html", {
        context: {
          marker: '<div class="box_marker"><div class="box_marker_tooltips"></div></div>',
          image: './img/product-26.jpg',
          category: 'Кашпо',
          name: 'Кашпо Амфора коринф (шамот), 22*30см',
          stock: '',
          priceOld: '',
          priceNew: '1 157 ₽',
          compareClass: '',
          amount: 'Осталось <span class="box_amount_number">5</span> шт.',
          link: './card-product.html',
        }
      })

    </div>
    <div class="catalog_row">
      <a class="catalog_more" href="javascript:void(0);">Показать еще</a>
    </div>
  </div>
</section>
