<section id="subscription" class="subscription @@context.class">
  <div class="container">
    <form class="subscription_wrapper">
      <div class="subscription_text">Узнавайте одними из первых о наших выгодных предложениях и распродажах</div>
      <div class="subscription_box">
        <input class="subscription_input" name="e-mail" type="email" placeholder="Укажите Ваш e-mail..." autocomplete="off" required>
        <button class="subscription_request" type="submit">Подписаться</button>
      </div>
      <label class="subscription_checkbox">
        <input type="checkbox" name="confirm" required>
        <div class="subscription_checkbox_text">Я согласен с политикой конфиденциальности и даю согласие на обработку персональных данных</div>
      </label>
    </form>
  </div>
</section>
