<section class="about-page_video">
  <div class="about-page_video_wrapper">
    <div class="about-page_video_left">
      <div class="about-page_video_box">
        <button class="about-page_video_btn" type="button"></button>
      </div>
    </div>
    <div class="about-page_video_right">
      <div class="about-page_video_info">
        <h2 class="about-page_title">Вы можете убедиться в своевременности <span>нашей работы</span></h2>
        <div class="about-page_description">Мы заинтересованы в Вашей лояльности и долгосрочных отношениях, поэтому делаем все, чтобы работать с намибыло удобно и выгодно.</div>
      </div>
    </div>
  </div>
</section>